$color-primary: #ec253a;
$color-secondary: #223e77;
$color-background: #f8f9fa;
$color-text: #333333;

$color-success: #28a745;
$color-warning: #ffc107;
$color-error: #dc3545;

$font-family-primary: 'Arial', 'Helvetica', sans-serif;
// $font-weight-regular: 400;
// $font-weight-bold: 700;
