<!-- PARA EL INPUT DE TIPO NUMBER
 (keydown)="preventNonNumeric($event)" -->

<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [id]="id"
    [required]="required"
    [inputMode]="inputmode"
    [placeholder]="placeholder"
    [value]="value"
    (input)="handleInput($event)"
    [formControl]="control"
  />
  <mat-error *ngIf="control.errors">
    {{ getErrorMessage() }}
  </mat-error>
  <mat-error *ngIf="control.invalid && control.touched"> </mat-error>
</mat-form-field>
