.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

mat-form-field {
  flex: 1;
  margin-right: 16px;
}

mat-form-field:last-child {
  margin-right: 0;
}

mat-card-title {
  text-align: center;
  padding-top: 10px;
}

.form-container {
  display: flex;
  gap: 10px;
}
