<div class="container">
  <mat-card>
    <mat-card-title> Buscar persona </mat-card-title>
    <br />
    <mat-card-content>
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <!-- TODO: refactor errors as dynamic in input/inputdate component -->
          <!-- TODO: add type to generic input -->
          <!-- Input mode for show numeric keys on cellphones -->
          <app-input
            id="cardId"
            formControlName="cardId"
            placeholder="Ingrese el número de cédula a buscar"
            label="Número de cédula"
            inputmode="numeric"
          />
          <app-input-date
            datePickerId="dateStart"
            formControlName="dateStart"
            placeholder="Selecciona una fecha"
            label="Fecha desde"
          />
          <app-input-date
            datePickerId="dateEnd"
            formControlName="dateEnd"
            placeholder="Selecciona una fecha"
            label="Fecha hasta"
          />
        </div>
        <div class="btn-group">
          <app-button label="Buscar"></app-button>
          <app-button
            label="Limpiar"
            color="secondary"
            type="reset"
          ></app-button>
        </div>
      </form>
      <br />

      <mat-divider role="separator"></mat-divider>
      <div class="form-container" *ngIf="personName != null">
        <h4>Nombres y apellidos:</h4>
        <h4>{{ personName }}</h4>
      </div>
      <!-- <app-table [invoices]="invoices"></app-table> -->
      <app-table
        [columns]="['id', 'name', 'age', 'city']"
        [data]="[
          { id: 'id1', name: 'Stalin', age: '23', city: 'Sangolqui' },
          { id: 'id1', name: 'Stalin', age: '23', city: 'Sangolqui' }
        ]"
      ></app-table>
      <app-table></app-table>
    </mat-card-content>
  </mat-card>
</div>
