/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '/src/app/styles/variables.scss';

body {
  margin: 0;
  font-family: $font-family-primary;
}

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/*
.container {
  max-width: 90%;
  margin: 20px auto;
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: #bd362f !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.btn-search {
  margin-top: 20px;
  border-radius: 20px !important;
} */
