/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 90%;
  margin: 20px auto;
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: #bd362f !important;
  }
  .mdc-snackbar__label {
    color: white !important;
  }
}

.btn-search {
  margin-top: 20px;
  border-radius: 20px !important;
  background-color: #223e77 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.btn-search:hover {
  background-color: #ec253a !important; /* Color de fondo al hacer hover */
  color: black !important; /* Color del texto al hacer hover */
}

.toolbar-header {
  background-color: #ec253a !important;
}
