@import "/src/app/styles/theme.scss";

body {
  margin: 0;
  font-family: $font-family-primary;
}

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

// @include mat.all-component-themes($theme);

/*

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: #bd362f !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
} */
